.container{
    margin: auto;
    margin-top: 20px;
   
}
.col-md-, .col-lg-4{
    margin-bottom: 20px;
}
.sty{
    font-size: 18px ;
    color: black;
}
.num{
    width: 80px;
    height: 30px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
}
.uk-border-circle{
    width: 100px;
    height: 100px;
}
.fa-cart-arrow-down{
    color: white;
    font-size: 50px;
    cursor: pointer;
    padding-left: 20px;
}
.btn {
    background: transparent;
    border: none;
    font-size: 30px;
    color: gray;
}
.btn i:hover {
    cursor: pointer;
}
